<!DOCTYPE html>
<html>
    <script src="/loadRequests.js" defer></script>
    <script src="/changeRequestForm.js" defer></script>  
    <link rel="stylesheet" href="styles/styles.css">
    
    <body>
            <h1>Create Change Request</h1>
            <pre id="emailResult"></pre>
            <form id="changeRequestForm">
                <label>Title:</label><br>
                <input type="text" id="title" required><br><br>

                <label>Description:</label><br>
                <textarea id="description" required></textarea><br><br>

                <label>Risk:</label><br>
                <input type="text" id="risk"><br><br>

                <label>Case Number:</label><br>
                <input type="text" id="caseNumber"><br><br>

                <label>Email:</label><br>
                <input type="email" id="email" required><br><br>

                <button type="submit">Submit</button>
            </form>


        <table>
            <thead>
            <h1 id="tableTitle">Active Change Requests</h1>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Description</td>
                <td>Risk</td>
                <td>Case Number</td>
                <td>Status</td>
                <td>Email</td>
            </tr>
            </thead>
            <tbody id="changeRequests"></tbody>
                <tr>
                </tr>
            </tbody>
        </table>
    </body>
</html>